# Archivos de configuracion de IntelliJ IDEA.
.idea/
.idea/turn_base_game.iml
.idea/modules/turn_base_game.test.iml
.idea/modules/turn_base_game.main.iml
.idea/modules.xml
.idea/libraries/Gradle__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Gradle__org_junit_platform_junit_platform_engine_1_6_0.xml
.idea/libraries/Gradle__org_junit_platform_junit_platform_commons_1_6_0.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_params_5_6_0.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_engine_5_6_0.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_api_5_6_0.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_5_6_0.xml
.idea/libraries/Gradle__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/.name
.idea/inspectionProfiles/Project_Default.xml
# Archivos de configuracion de Eclipse.
.classpath
.project
.settings/
.idea
.gradle
.build

out/production/turn_base_game/README
out/production/turn_base_game/personaje/Personaje.class
out/production/turn_base_game/partida/Stat.class
out/production/turn_base_game/partida/Juego.class
out/production/turn_base_game/partida/Administrador.class
out/production/turn_base_game/main/Modificar.class
out/production/turn_base_game/main/MainApp.class
out/production/turn_base_game/item/Item.class
out/production/turn_base_game/item/consumible/Pocion.class
out/production/turn_base_game/item/consumible/Consumible.class
out/production/turn_base_game/item/armadura/Torso.class
out/production/turn_base_game/item/armadura/Pies.class
out/production/turn_base_game/item/armadura/Pantalon.class
out/production/turn_base_game/item/armadura/Casco.class
out/production/turn_base_game/item/armadura/Armadura.class
out/production/turn_base_game/item/arma/Lanza.class
out/production/turn_base_game/item/arma/Arma.class
out/production/turn_base_game/item/acessorio/Anillo.class
out/production/turn_base_game/item/acessorio/Amuleto.class
out/production/turn_base_game/item/acessorio/Accesorio.class
out/production/turn_base_game/entity/Personaje.class
out/production/turn_base_game/entity/Entidad.class
out/production/turn_base_game/partida/Inventario.class
out/production/turn_base_game/.idea/workspace.xml
.gradle/vcs-1/gc.properties
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.0/gc.properties
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/fileChanges/last-build.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/dependencies-accessors/gc.properties
.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
.gradle/8.0/checksums/checksums.lock
build/classes/java/main/programacion/practica/item/acessorio/Accesorio.class
build/classes/java/main/programacion/practica/item/acessorio/Amuleto.class
build/classes/java/main/programacion/practica/item/acessorio/Anillo.class
build/classes/java/main/programacion/practica/item/arma/Arma.class
build/classes/java/main/programacion/practica/item/arma/Lanza.class
build/classes/java/main/programacion/practica/item/armadura/Armadura.class
build/classes/java/main/programacion/practica/item/armadura/Casco.class
build/classes/java/main/programacion/practica/item/armadura/Pantalon.class
build/classes/java/main/programacion/practica/item/armadura/Pies.class
build/classes/java/main/programacion/practica/item/armadura/Torso.class
build/classes/java/main/programacion/practica/item/consumible/Consumible.class
build/classes/java/main/programacion/practica/item/consumible/Pocion.class
build/classes/java/main/programacion/practica/item/Item.class
build/classes/java/main/programacion/practica/main/MainApp.class
build/classes/java/main/programacion/practica/partida/Administrador.class
build/classes/java/main/programacion/practica/partida/Inventario.class
build/classes/java/main/programacion/practica/partida/Juego.class
build/classes/java/main/programacion/practica/partida/Stat.class
build/classes/java/main/programacion/practica/personaje/Personaje.class
build/tmp/compileJava/compileTransaction/stash-dir/Administrador.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/Juego.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/MainApp.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/Personaje.class.uniqueId3
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileJava/compileTransaction/stash-dir/Torso.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/Stat.class.uniqueId15
build/tmp/compileJava/compileTransaction/stash-dir/Pocion.class.uniqueId13
build/tmp/compileJava/compileTransaction/stash-dir/Pies.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/Personaje.class.uniqueId5
build/tmp/compileJava/compileTransaction/stash-dir/Pantalon.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/MainApp.class.uniqueId8
build/tmp/compileJava/compileTransaction/stash-dir/Lanza.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/Juego.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/Item.class.uniqueId11
build/tmp/compileJava/compileTransaction/stash-dir/Inventario.class.uniqueId18
build/tmp/compileJava/compileTransaction/stash-dir/Consumible.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/Casco.class.uniqueId17
build/tmp/compileJava/compileTransaction/stash-dir/Armadura.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/Arma.class.uniqueId9
build/tmp/compileJava/compileTransaction/stash-dir/Anillo.class.uniqueId14
build/tmp/compileJava/compileTransaction/stash-dir/Amuleto.class.uniqueId12
build/tmp/compileJava/compileTransaction/stash-dir/Administrador.class.uniqueId10
build/tmp/compileJava/compileTransaction/stash-dir/Accesorio.class.uniqueId16
build/classes/java/main/programacion/practica/excepciones/IllegalNombreException.class
.idea/turn_base_game.iml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
